:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #212121;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --logo-first-color: #2196f3;
  --logo-second-color: #000000;
  --logo-third-color: #ffffff;
  --accent-color: #2196f3;
  --accent-hero-color: #188ce8;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --button-background-color: #2196f3;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --primary-icon-color: #afb1b8;
  --gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
*::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  overflow: auto;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.section-title,
.benefits__subtitle,
.team-subtitle,
.portfolio-title {
  color: var(--primary-title-color);
}

.section-title,
.benefits__subtitle,
.portfolio-title {
  font-weight: 700;
}

.social-icon,
.header-icon,
.order-close-icon,
.order-input-icon,
.order-check-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-submit-btn,
.footer-subscription-btn {
  min-width: 200px;
  min-height: 50px;
}

.current {
  color: var(--accent-color);
}

.mobile-menu-link.current {
  color: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-first-color);
}
.mobile-nav .logo {
  padding: 16px 0px;
}
.header-nav .logo {
  padding: 26px 0;
}
@media screen and (min-width: 1200px) {
  .header-nav .logo {
    padding: 24px 0;
  }
}
.down .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.header-nav .logo-second-part, .mobile-nav .logo-second-part {
  color: var(--logo-second-color);
}
.down .logo-second-part {
  color: var(--logo-third-color);
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-burger {
  padding: 10px 0;
}

.page-header {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-mobile-container {
    display: none;
  }
}

.menu-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background-color);
  padding: 10px 15px 48px 40px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-close {
  display: block;
  margin-left: auto;
}

.mobile-menu-list > li:not(:last-child) {
  margin-bottom: 36px;
}

.mobile-menu-link {
  display: inline-block;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--tertiary-text-color);
}
@media (max-width: 479px) {
  .mobile-menu-link {
    font-size: 36px;
  }
}

.mobile-contact-link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-tel a {
  display: inline-block;
  font-size: 34px;
  color: var(--accent-color);
  margin-bottom: 32px;
}
@media (max-width: 479px) {
  .mobile-tel a {
    font-size: 24px;
  }
}

.mobile-mail a {
  display: inline-block;
  font-size: 24px;
  color: var(--primary-text-color);
  margin-bottom: 64px;
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 25px;
}

.mobile-social {
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-social:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.menu-close-icon:hover {
  fill: var(--accent-color);
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.common-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--button-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.common-button:hover, .common-button:focus {
  background-color: var(--accent-hero-color);
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon, .social-link:focus .social-icon {
  fill: var(--secondary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.order-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  min-height: 609px;
  padding: 40px;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1) rotate(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .order-modal {
  transform: translate(-50%, 0%) scaleY(0) rotate(90deg);
}
@media screen and (min-width: 1200px) {
  .order-modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.order-modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.order-close-icon {
  position: absolute;
  top: 6px;
  left: 6px;
}
.order-close-icon:hover {
  fill: var(--accent-color);
}

.order-modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-title-color);
  margin-bottom: 12px;
}

.order-modal-field {
  margin-bottom: 10px;
}
.order-modal-field:last-of-type {
  margin-bottom: 30px;
}

.order-modal-label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.order-modal-input,
.order-modal-area {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-modal-input:focus,
.order-modal-area:focus {
  border: 1px solid var(--accent-color);
}

.order-modal-input {
  padding: 11px 12px 11px 42px;
}

.order-modal-area {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}
.order-modal-area::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-modal-area:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-modal-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-input-wrap {
  position: relative;
}

.order-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.order-modal-input:focus + .order-input-icon {
  fill: var(--accent-color);
}

.order-check-label {
  display: inline-flex;
  align-items: center;
  line-height: 1.71;
  gap: 9px;
}

.check-icon-wrap {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  border: 2px solid var(--tertiary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transition: border, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-modal-check:checked + .order-check-label .check-icon-wrap {
  background-color: var(--accent-color);
  border: 2px solid transparent;
}
.order-modal-check:focus + .order-check-label .check-icon-wrap {
  border-color: var(--accent-color);
}

.order-check-icon {
  position: absolute;
  top: -2px;
  left: -2px;
  fill: transparent;
}
.order-modal-check:checked + .order-check-label .order-check-icon {
  fill: var(--secondary-text-color);
}

.order-modal-link {
  position: relative;
  color: var(--accent-color);
}
.order-modal-link::after {
  position: absolute;
  bottom: 1px;
  left: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.order-conditions {
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .order-conditions {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .header-wrap {
    display: none;
  }
}

.contacts-link,
.menu-link {
  display: block;
  padding: 5px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .contacts-link,
.menu-link {
    padding: 32px 0;
  }
}

.menu-link {
  position: relative;
  color: var(--tertiary-text-color);
}
@media screen and (min-width: 768px) {
  .menu-link {
    padding: 32px 0;
  }
}

.menu-link.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: var(--accent-color);
  border-radius: 2px;
  transform: translateY(70%);
}
@media screen and (min-width: 1200px) {
  .menu-link.current::after {
    transform: translateY(20%);
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  -moz-column-gap: 93px;
       column-gap: 93px;
}

.header-menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.header-menu .current {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}

.contacts-link {
  display: flex;
  gap: 10px;
}

.header-icon {
  fill: var(--primary-text-color);
}
.contacts-link:focus .header-icon, .contacts-link:hover .header-icon {
  fill: var(--accent-color);
}

.hero {
  text-align: center;
  padding: 118px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #000000;
  background-color: #c4c4c4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-mob-480@1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-mob-480@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-tab-768@1x.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-tab-768@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-desk-1600@1x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-desk-1600@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
@media (max-width: 400px) {
  .hero {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hero__promo {
  margin: 0 auto;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__promo {
    max-width: 696px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.common-button--hero {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 23px;
}
@media screen and (min-width: 1200px) {
  .common-button--hero {
    min-width: 217px;
    padding: 10px 32px;
  }
}

.benefits__subtitle {
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.benefits__text {
  line-height: 1.71;
}

.benefits__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.benefits__item {
  flex-basis: 450px;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 120px;
  background-color: var(--tertiary-background-color);
  margin-bottom: 30px;
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
  }
}

.work__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.work__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.work__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 23.81%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.team {
  background-color: var(--tertiary-background-color);
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  width: 100%;
  flex-basis: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
}
@media screen and (min-width: 768px) {
  .team-item {
    flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team-description {
  padding: 30px 0px 24px;
}

.team-subtitle,
.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-text {
  margin-bottom: 16px;
}

.team-subtitle {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-icon {
  fill: var(--primary-icon-color);
}

.team-item img {
  width: 100%;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  height: 92px;
  width: 210px;
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--accent-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: var(--primary-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: currentColor;
}

.down {
  padding: 60px 0;
  background-color: var(--secondary-background-color);
}

.footer-contacts {
  font-style: normal;
}

.footer-link {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

.transparent {
  color: var(--link-footer-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  row-gap: 60px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 1599px) {
  .footer-container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    -moz-column-gap: 165px;
         column-gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    -moz-column-gap: 70px;
         column-gap: 70px;
    justify-content: start;
  }
}

.footer-call {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-social-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  fill: var(--secondary-text-color);
}

.footer-subscription {
  width: 100%;
  max-width: 450px;
}
@media screen and (min-width: 1200px) {
  .footer-subscription {
    max-width: 1500px;
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
    align-items: start;
    gap: 12px;
  }
}

.subscription-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  color: var(--secondary-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}
.subscription-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input:focus {
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .subscription-input {
    width: 358px;
  }
}

.footer-subscription-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px 10px 31px;
}

.footer-button-icon {
  fill: var(--secondary-text-color);
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 30px;
}
@media (max-width: 610px) {
  .portfolio-buttons {
    justify-content: start;
  }
}
@media (min-width: 470px) and (max-width: 576px) {
  .portfolio-buttons {
    width: 75%;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    margin-bottom: 50px;
  }
}

.portfolio-button {
  display: block;
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 25px;
  font-size: 16px;
  color: var(--tertiary-text-color);
  background-color: var(--tertiary-background-color);
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--button-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.big-size {
  padding: 6px 25px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    justify-content: start;
  }
}

.portfolio-item {
  width: 100%;
  flex-basis: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-description {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--primary-text-color);
}

.portfolio-item-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-item-thumb img {
  width: 100%;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-overlay, .portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-text {
  max-width: 88%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */